*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial',sans-serif;
}
body{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.profile-card{
    background-color: #fff;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.profile-card h1{
  font-size: 24px;
  margin-bottom: 5px;
}
.profile-card .title{
    color: gray;
    font-size: 18px;
    margin-bottom: 15px;
}
.profile-card p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.social-icons a{
    text-decoration: none;
    color: #fff;
    background-color: #0077b5;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    transition: 0.3s;
}
.social-icons a:hover{
    background-color: #005582;
}
.profile-card .button1{
    margin-top: 10px;
    font-size: 25px;
    border: 2px solid green;
    border-radius: 7%;
    color: black;
    background-color: aquamarine;
    cursor: pointer;
}
.profile-card .button1:hover{
    color: aqua;
    background-color: blueviolet;
    transition: 2s;
}